ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px; }

.mst-ued-product-lc-clearfix:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .mst-ued-product-lc-btn-coupon {
    background: url(//h2.appsimg.com/a.appsimg.com/upload/upimg2/ued/cxy/mst/728-ued/shangpinlouceng/btn-qiang-2x.png) no-repeat;
    background-size: auto 60px; }
  .mst-ued-product-lc-stock.sold-out {
    background-image: url(//h2.appsimg.com/a.appsimg.com/upload/upimg2/ued/cxy/mst/728-ued/shangpinlouceng/soldOut-2x.png);
    background-size: 69px auto; } }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

blockquote, body, button, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 12px; }

.mst-ued-product-lc-floor {
  position: relative;
  background-position: center top; }
  .mst-ued-product-lc-floor .mst-ued-product-lc-inner {
    width: 1000px;
    margin: auto; }
    .mst-ued-product-lc-floor .mst-ued-product-lc-inner .mst-ued-product-lc {
      padding: 4px 20px 20px; }

ul {
  width: 976px;
  margin-left: -16px; }
  ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    width: 226px;
    height: 440px;
    float: left;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 16px 0 0 16px; }
    ul li .mst-ued-product-lc-img-wrap {
      display: block;
      height: 286px;
      position: relative; }
      ul li .mst-ued-product-lc-img-wrap .mst-ued-product-lc-img {
        width: 100%;
        height: 100%; }
    ul li .mst-ued-product-lc-desc {
      font-size: 12px;
      display: block;
      padding: 0 15px 14px; }
      ul li .mst-ued-product-lc-desc .mst-ued-product-lc-brand-name {
        color: #666;
        height: 18px;
        padding-top: 11px;
        padding-bottom: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      ul li .mst-ued-product-lc-desc .mst-ued-product-lc-name {
        color: #333;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px; }
      ul li .mst-ued-product-lc-desc .mst-ued-product-lc-pms {
        color: #999;
        height: 18px;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price {
        color: #f10180;
        font-family: arial; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-price span {
          display: inline-block; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-money-icon {
          margin-right: 2px;
          font-family: arial; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-price-sell {
          font-size: 20px;
          line-height: 20px;
          margin-right: 2px; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-price-discount {
          margin-left: 2px; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-price-market {
          color: #999;
          margin-left: 6px; }
          ul li .mst-ued-product-lc-desc .mst-ued-product-lc-price .mst-ued-product-lc-price-market .mst-ued-product-lc-money-icon {
            margin-right: 2px;
            font-family: arial; }
      ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn {
        overflow: hidden;
        margin-top: 7px; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn .mst-ued-product-lc-btn-coupon {
          display: none;
          float: left;
          width: 86px;
          background: url(//h2.appsimg.com/a.appsimg.com/upload/upimg2/ued/cxy/mst/728-ued/shangpinlouceng/btn-qiang-02.png) no-repeat;
          height: 30px;
          color: #fc1354; }
          ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn .mst-ued-product-lc-btn-coupon .mst-ued-product-lc-btn-coupon p {
            float: left;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            width: 57px; }
            ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn .mst-ued-product-lc-btn-coupon .mst-ued-product-lc-btn-coupon p .mst-ued-product-lc-money-icon {
              margin-right: 2px;
              font-family: arial; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn .mst-ued-product-lc-btn-like {
          border: 1px solid #f10180;
          text-align: center;
          line-height: 28px;
          color: #f10180;
          font-size: 14px;
          border-radius: 2px; }
        ul li .mst-ued-product-lc-desc .mst-ued-product-lc-btn .mst-ued-product-lc-btn-like:hover {
          background: #c9053d; }

.box {
  -webkit-transition: width 8s;
  -moz-transition: width 8s;
  -o-transition: width 8s;
  -ms-transition: width 8s;
  transition: width 8s; }

.box2 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }

@media only screen and (max-width: 480px) {
  body {
    color: red; } }

html {
  font-size: 10px; }

.box {
  width: 16rem;
  height: 30rem;
  background: #666; }

.ib {
  display: inline-block;
  width: 1px;
  *display: inline;
  *zoom: 1; }
